    {{> head }}



    {{> navbar }}
<br>
    <div class="row">
        <div class="col-8">
            <h1>dovahkiin</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Est error natus quia ullam iusto perspiciatis recusandae dolores aspernatur dicta tempore asperiores eum, incidunt voluptatibus fugiat, explicabo corporis! Consectetur, tempora nam.</p>
        </div>
        <div class="col-4">
            <img src="assets/img/skirym.jpg" class="img-thumbnail" alt="Responsive image">
        </div>
    </div>
    {{> footer }}